/* Đặt margin và padding mặc định */
* {
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lato:ital,wght@0,300;0,900;1,400;1,700&family=Playwrite+GB+J+Guides:ital@0;1&display=swap');
/* Định dạng body */
body {
    
    line-height: 1.75;
    color: #ffffff; /* Màu chữ trắng */
    background: url('image/backgroud-thực\ tiễn.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    min-height: 80vh;
    font-size: 27px;
}
h1{
    text-align: center;
    margin-top: 90px;
}

/* Lớp phủ làm mờ */
.overlay {
    position: absolute;
    z-index: 1;
}

/* Nội dung */
.content {
    text-align: justify;
    position: relative;
    z-index: 2; /* Đảm bảo nội dung nằm trên overlay */
    max-width: 900px;
    margin-left: 23%;
    border-radius: 10px;
    color: black;
    margin-top: -45px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    body {
        line-height: 1.75;
        color: #ffffff; /* Màu chữ trắng */
        font-size: 22px;
        position: relative;
        min-height: 80vh;
        overflow: hidden;  /* Đảm bảo ảnh nền không bị tràn */
    }
    
    /* Thêm lớp mờ cho ảnh nền bằng ::after */
    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('image/backgroud-dienthoai.jpg') no-repeat center center fixed;
        background-size: cover;
        filter: blur(4px); /* Làm mờ ảnh nền */
        z-index: -1; /* Đảm bảo lớp mờ này nằm dưới nội dung */
    }
    .content {
        margin-left: 0%;
        border-radius: 10px;
        color: black;
        margin-top: -45px;
        padding-left: 69px;
        padding-right: 73px;
    }
}